@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

body {
    background: linear-gradient(to bottom, #141438, #3c57a5);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(112, 76, 255, 0.25));
    border-radius: 25px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    height: 50px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #141438;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: #1c3775;
    transition: 0.2s;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3c57a5;
}

.brand-container{
    height: 40px;
    width: fit-content;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
}

.brand-container img{
    width: 50px;
    height: 50px;
}

.brand{
    padding: 6px;
}

.brand a{
    text-decoration: none;
}

.nav-buttons{
    padding: 6px;
    display: flex;
    gap: 6px;
}

.button a{
    text-decoration: none;
}

.button-container{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
}

.button-container img{
    width: 40px;
    height: 40px;
}

.button-container:hover{
    background-color: rgba(0, 0, 0, 0.5);
    width: 110px;
}

.header{
    margin-top: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
}

.header h2{
    font-size: 36px;
    margin: 4px;
}

.header p{
    color: #ccc;
    margin-top: 4px;
    margin-bottom: 16px;
}

.container{
    margin-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    width: auto;
    height: calc(100vh - 190px);
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.display-container{
    width: 100%;
    background: rgba(20, 20, 56, 0.75);
    border-radius: 8px;
}

.panel-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
    justify-content: center;
}

.panel-container a{
    color: white;
    text-decoration: none;
}

.app-panel{
    position: relative;
    width: auto;
    height: 200px;
    border: 1px solid #141438;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    gap: 8px;
    transition: all 0.2s ease-in-out;
    transform: scale(0.95);
}

.app-panel h2{
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}

.app-panel p{
    margin-top: 5px;
    margin-right: 8px;
}

.app-panel:hover{
    transform: scale(1);
    background: rgba(0, 0, 0, 0.75);
}

.app-panel:hover h2{
    font-size: 28px;
}

@media only screen and (max-width: 1280px) {
    .panel-container {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media only screen and (max-width: 900px) {
    .panel-container {
        grid-template-columns: repeat(1, 1fr);
    }   
}