@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: white;
    min-height: 100vh;
    background: linear-gradient(rgb(17, 5, 39), rgb(41, 81, 166));
    margin: 0px;
}

#sec-1
{
    background: url(Sprites/Water_Top.png), url(Sprites/Water_Rays.png), url(Sprites/Water_Background.png);
    background-blend-mode: normal, hard-light, normal;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section
{
    min-height: 100vh;
    width: 100%;
}

header
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 100px;
    background: rgb(17, 5, 39);
    z-index: 10;
}

.logo
{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.logo img
{
    height: 30px;
    position: relative;
    margin-right: 10px;
    transform: translateY(7.5px);
}

.hamburger
{
    display: none;
}

.nav-bar ul
{
    display: flex;
}

.nav-bar ul li a
{
    display: block;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover
{
    color: black;
    background: white;
}

.nav-bar ul li a.active
{
    color: black;
    background: white;
}


.content 
{
    text-align: center;
    color: white;
    margin-top: 100px;
}

.content h1
{
    padding: 20px 0;
    font-size: 30px;
}

.content p
{
    font-size: 18px;
}

.explore-btn
{
    font-size: 1.5em;

    margin: 100px 0;
    background: none;
    display: inline-block;
    text-decoration: none;
    color: aqua;
    cursor: pointer;
    border: aqua 0.18em solid;
    border-radius: 0.5em;
    padding: 0.25em 1em;

    text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em aqua, 0 0 0.5em aqua;
    position: relative;
}

.explore-btn::before
{
    pointer-events: none;
    content: "";
    position: absolute;
    background: aqua;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;

    transform: perspective(2em) rotateX(60deg);
    filter: blur(1em);
    opacity: 0.75;
}

.explore-btn::after
{
    pointer-events: none;
    content: "";
    position: absolute;
    background: aqua;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em aqua;
    opacity: 0;
    transition: opacity 100ms linear;
    z-index: -1;
}

.explore-btn:hover,
.explore-btn:focus
{
    color: rgb(17, 5, 39);
}

.explore-btn:hover::after,
.explore-btn:focus::after
{
    opacity: 1;
}

.explore-btn:hover::before,
.explore-btn:focus::before
{
    opacity: 1;
}

.img-gallery 
{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}

.img-gallery img:hover
{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 40px;
    box-shadow: 0 32px 75px rgba(0, 0, 0, 0.5);
}

.full-img
{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img
{
    width: 90%;
    max-width: 500px;
}

.full-img span
{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.full-img-close img
{
    max-width: 35px;
    transition: 1s;
    cursor: pointer;
}

.full-img-close img:hover
{
    transform: scale(1.35) rotate(90deg);
}

.about-page 
{
    border: rgba(255, 255, 255, 0.5) solid 10px;
    margin: 50px 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-page img
{
    height: auto;
    width: 40vh;
    border-radius: 40px;
    margin: 20px 20px;
}

.about-text h1
{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.about-text h4
{
    margin-bottom: 10px;
    padding-right: 20px;
}

.about-text p
{
    margin-bottom: 20px;
    padding-right: 20px;
}

.about-button 
{
    display: flex;
    position: relative;
}

.about-button button
{
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    background: transparent;
    border: transparent;
    border-radius: 20%;
    transition: 0.2s;
}

.about-button button:active
{
    background: rgba(6, 5, 42, 0.75);
}

.about-button img
{
    height: 100%;
    width: 100%;
    padding: 3px 3px;
    border-radius: 0%;
}

.project-widget
{
    border: rgba(255, 255, 255, 0.25) solid 10px;
    margin: 50px 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-widget img
{
    height: auto;
    width: 20vh;
    border-radius: 40px;
    margin: 20px 20px;
}

.project-widget h2
{
    margin-bottom: 10px;
}

.project-widget p
{
    margin: 10px 0px;
}

.project-widget a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.project-widget a:before,
a:after {
    position: absolute;
    content: "";
    border-bottom: 4px solid rgba(255, 255, 255, 1);
    border-radius: 1em;
    bottom: 0.3em;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-widget a:before {
    width: 3em;
    transform-origin: left;
}

.project-widget a:after {
    width: 82%;
    left: 1.5em;
    transform: translateX(110%);
}

.project-widget a:hover:before {
    transform: scaleX(0.3);
}

.project-widget a:hover:after {
    transform: translateX(0);
}

@media only screen and (max-width: 1000px)
{
    header
    {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 800px)
{
    .hamburger
    {
        display: block;
        cursor: pointer;
    }

    .hamburger .line
    {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .nav-bar
    {
        background: linear-gradient(rgba(17, 5, 39, 1), rgba(17, 5, 39, 0.5));
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active
    {
        height: 300px;
    }

    .nav-bar ul
    {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul 
    {
        opacity: 1;
    }

    .nav-bar ul li a
    {
        margin-bottom: 12px;
    }

    .about-page img
    {
        height: auto;
        width: 40%;
    }

    .about-button button
    {
        display: flex;
        position: relative;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        margin: 10px 10px;
        background: transparent;
        border: transparent;
        border-radius: 20%;
        transition: 0.2s;
    }

    .about-button img
    {
        height: 100%;
        width: 100%;
        padding: 3px 3px;
        border-radius: 0%;
    }

    .project-widget img
    {
        height: auto;
        width: 10vh;
        border-radius: 40px;
        margin: 20px 20px;
    }

    .project-widget
    {
        border: rgba(255, 255, 255, 0.25) solid 5px;
        margin: 30px 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .about-page 
    {
        border: rgba(255, 255, 255, 0.5) solid 5px;
        margin: 30px 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}